In [ ]:
import pandas as pd
import pickle 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [69]:
df=pd.read_csv(r"C:\Users\Dell\Downloads\archive (1).zip")
display(df)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [70]:
df.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [71]:
df['genre'] = df['genre'].fillna('')
df['overview'] = df['overview'].fillna('')

In [72]:
df.isnull().sum()

id                   0
title                0
genre                0
original_language    0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [73]:
df.duplicated().sum()

np.int64(0)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              10000 non-null  object
 3   original_language  10000 non-null  object
 4   overview           10000 non-null  object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [75]:
movies=df[["id","title","genre","overview"]]

In [76]:
movies["content"]=movies["genre"]+" "+movies["overview"]

C:\Users\Dell\AppData\Local\Temp\ipykernel_1628\1299525583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["content"]=movies["genre"]+" "+movies["overview"]

In [77]:
import sys
print(sys.executable)

c:\Users\Dell\AppData\Local\Programs\Python\Python310\python.exe

In [ ]:
nltk.download('stopwords')
ps = PorterStemmer()
stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower()  
    text = re.sub(r'[^a-zA-Z]', ' ', text)   
    words = text.split() 
    words = [ps.stem(word) for word in words if word not in stop_words]     
    return " ".join(words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [79]:
movies["content"] = movies["content"].apply(clean_text)

C:\Users\Dell\AppData\Local\Temp\ipykernel_1628\44463265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["content"] = movies["content"].apply(clean_text)

In [80]:
movies=movies.drop(columns=["overview","genre"])

In [81]:
display(movies)

,id,title,content
0,278,The Shawshank Redemption,drama crime frame doubl murder wife lover upst...
1,19404,Dilwale Dulhania Le Jayenge,comedi drama romanc raj rich carefre happi go ...
2,238,The Godfather,drama crime span year chronicl fiction italian...
3,424,Schindler's List,drama histori war true stori businessman oskar...
4,240,The Godfather: Part II,drama crime continu saga corleon crime famili ...
...,...,...,...
9995,10196,The Last Airbender,action adventur fantasi stori follow adventur ...
9996,331446,Sharknado 3: Oh Hell No!,action tv movi scienc fiction comedi adventur ...
9997,13995,Captain America,action scienc fiction war world war ii brave p...
9998,2312,In the Name of the King: A Dungeon Siege Tale,adventur fantasi action drama man name farmer ...
9999,455957,Domino,thriller action crime seek justic partner murd...

In [82]:
Tf= TfidfVectorizer(max_features=10000, stop_words='english')

In [83]:
m=Tf.fit_transform(movies["content"]).toarray()

In [84]:
m.shape

(10000, 10000)

In [85]:
similarity=cosine_similarity(m)
similarity

array([[1.        , 0.01320091, 0.02922896, ..., 0.0571214 , 0.02624745,
        0.02043844],
       [0.01320091, 1.        , 0.0128458 , ..., 0.        , 0.00414008,
        0.        ],
       [0.02922896, 0.0128458 , 1.        , ..., 0.02004058, 0.02851312,
        0.04068189],
       ...,
       [0.0571214 , 0.        , 0.02004058, ..., 1.        , 0.06486652,
        0.00458889],
       [0.02624745, 0.00414008, 0.02851312, ..., 0.06486652, 1.        ,
        0.00944691],
       [0.02043844, 0.        , 0.04068189, ..., 0.00458889, 0.00944691,
        1.        ]])

In [86]:
def recommand(movie):
     index=movies[movies["title"]==movie].index[0]
     listed=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda i:i[1])
     for i in listed[1:6]:
          print(movies.iloc[i[0]].title)

In [87]:
recommand("The Godfather")

The Godfather: Part II
The Godfather: Part III
Xtreme
Blood Ties
Extremely Wicked, Shockingly Evil and Vile

In [88]:

pickle.dump(movies, open(r'C:\Users\Dell\Desktop\movies_list.pkl', 'wb'))

In [89]:
pickle.dump(similarity, open(r'C:\Users\Dell\Desktop\similarity.pkl', 'wb'))

In [90]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,content
0,278,The Shawshank Redemption,"Drama,CrimeFramed in the 1940s for the double ..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,RomanceRaj is a rich, carefree, h..."
2,238,The Godfather,"Drama,CrimeSpanning the years 1945 to 1955, a ..."
3,424,Schindler's List,"Drama,History,WarThe true story of how busines..."
4,240,The Godfather: Part II,"Drama,CrimeIn the continuing saga of the Corle..."
...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,FantasyThe story follows the ..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventu..."
9997,13995,Captain America,"Action,Science Fiction,WarDuring World War II,..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,DramaA man named Farm..."
9999,455957,Domino,"Thriller,Action,CrimeSeeking justice for his p..."